html, 
body {
    margin: 0;
    height: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../img/wow.png') bottom center no-repeat;
    background-size: cover;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
}